@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section .header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    color: #292929;
}

.section hr{
    width: 10%;
    height: 5px;
    background-color: grey;
    margin: 10px 0;
}

.section .content{
    display: flex;
    margin: 15px 0;
    gap: 25px;
    flex-wrap: wrap;
}

.section .content .items{
    width: calc(50% - 13px);
    margin: 25px 0;
}

.section .content .book{
    width: calc( 24% - 10px);
}

.section .content .book .title
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    color: #292929;
}

.section .content .book .author{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #292929;
    padding: 5px 20px;
}

.section .content .book .img{
    width: 90%;
    margin-top: 20px;
    aspect-ratio: 1/1.5;
}

.section .content .items .title
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    color: #292929;

    min-height: 60px;
}

.section .content .items .desc
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #292929;
    margin: 15px 0 0 0;
}

.section .content .items .link{
    text-decoration: none;
    font-style: italic;
    font-size: 18px;
    text-align: right;
    display: block;
    padding-right: 5%;
    margin: 5px 0;
}

.section .content .items .img{
    width: 90%;
    margin: 5px 0 15px 0;
    aspect-ratio:2/1;
}

.section .content .items img,
.section .content .book .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left top;
}


@media only screen and (max-width: 650px){
    .section{
        width: 95%;
        margin: auto;
    }
    .section .content{
        flex-direction: column;
    }

    .section .content .items{
        width: 90%;
    }
    .section hr{
        width: 30%;
        height: 5px;
        background-color: grey;
        margin: 10px 0;
    }
    
    .section .content .items .link{
        padding-right: 0;
    }

    .section .content .book{
        width: 100%;
        margin: auto;
    }
    
    .section .content .book .img{
        margin: auto;
    }

}
