*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    /* width: 100vw;
    height: 100vh; */
    height: 100vh;
    padding: 100px 0;
    overflow: auto;
}

.outer-container {
    border:2px solid black;
    padding: 20px 30px;
    width: 70%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: strech;
    gap: 15px;
    
    background-color: orange;
}

.outer-container .container{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 8px;
    width: 25%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: stretch; */
}

.outer-container .container .heading{
    font-size: 20px;
}

.outer-container .container .content{
    font-size: 15px;
    height: 95%;
    margin-top: 10px ;
    padding: 10px 5px; 
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}